h1{
  color: ##00BBA4;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

h2{
  color: #FFB9B9;
  text-align: center;
}

p{
  font-family: serif;
}

body{
  background-color: #41726C;
}
