h1{
  color: #E20000;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

h2{
  color: #FFB9B9;
  text-align: center;
}

p{
  font-family: serif;
}

body{
  background-color: #FF9A9A
}
